<h1>New delivery for <%= @transporter.name %></h1>

<%= render 'form' %>

<%= link_to 'All deliveries', deliveries_path, {class: "btn btn-default"} %>
<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %> |

