<div id="formRow" class="row">
	<div id="formCol" class="col-md-6">
		<h1>New delivery for <%= @transporter.name %></h1>
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'All deliveries', deliveries_path, {class: "btn btn-default"} %>
<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %>

