<div class= "row">
	<div class ="col-md-12" id="home-image">
	</div>
	<div class ="col-md-12"id="btn-positioning">	
	<%= link_to("Add a new transporter", {:controller => "transporters", :action => "new"}, class: "btn btn-large btn-info") %>
	</div>
</div>
