<h1>Editing transporter</h1>

<div id="formRow" class="row">
	<div id="formCol">
		<%= render 'form' %>
	</div>
</div>



<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %> |
<%= link_to 'Show', @transporter, {class: "btn btn-default"} %> |
