<h1>Editing transporter</h1>

<%= render 'form' %>



<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %> |
<%= link_to 'Show', @transporter, {class: "btn btn-default"} %> |
