/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "twitter/bootstrap";

$border-line-color: #e5e5e5;

body { 
    padding-top: 60px; 
}

#btn-positioning {
	position: fixed;
	top: 525px;
	left: 540px;
}
#home-image { 
	border-style:solid;
	border-left:thick double #000000;
	border-right:thick double #000000;
	min-height: 656px;
	background: url('splash.jpg') no-repeat center;
}
.intro {
  padding: 50px 0;
}
#transporterDetails {
	border-right: 1px solid $border-line-color;
}
#deliveriesTable{
	top: 15px;
}
