// Place all the styles related to the transporters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* media queries */
@media(max-width:767px){
}
@media(min-width:768px){

}
@media(min-width:992px){
	body { 
		padding-top: 60px; 
	}
}
@media(min-width:1200px){}

#addDeliveryBtn {
  margin-top: 5px;
}

#transporter-list {
  margin-top: 10px;
}

#transporter-list ul {
  margin-left: 0;
}
