<h2>Dashboard</h2>

<div class='row'>
	<h4 class='col-md-6'>Cooperatives</h4>
	<div class='pull-right'>
		<!-- hide button -->
		<a href="javascript:void(0)" 
			ng-click='$state.go("dashboard")' 
			ng-if='$state.current.name !== "dashboard"'>hide</a>

		<!-- button group -->
		<div class='btn-group'>
			<div class="btn btn-default" 
				ng-click='$state.go("dashboard.cooperatives")'
				ng-class="{ active: $state.includes('dashboard.cooperatives') }">View all</div>
			<div class="btn btn-default" 
				ng-click='$state.go("dashboard.newCooperative")'
				ng-class="{ active: $state.includes('dashboard.newCooperative') }">Add</div>
		</div>
	</div>
</div>

<div class='container'>
	<div ui-view></div>
</div>