<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		<%= link_to("CowsNHills", transporters_path, class: "navbar-brand") %>
		</div>
		<div class="nav-collapse">
        
			<form action="<%= transporters_path %>" class="navbar-form navbar-left" method="get">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" name="search">
				</div>
				<input type="submit" value="Search" class="btn btn-default">
				<%= link_to "Show all", transporters_path, class: "btn btn-default" %>
			</form>
      </div><!-- /.nav-collapse -->
    </div><!-- /.navbar-header -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
