<div class="navbar navbar-fixed-top row">
  <div class="navbar-inner">
    <div class="container">
      
      <%= link_to("CowsNHills", transporters_path, class: "brand") %>

      <div class="nav-collapse">
        
        <form action="<%= transporters_path %>" class="navbar-search" method="get">
          <input type="text" class="search-query span2" placeholder="Search" name="search">
          <input type="submit" value="Search" class="btn btn-submit">
		</form>
        
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->



